<div class="mediamedia">
<img src="../../assets/img/background-orange.jpg" class="backgrounds">

	<div class="container-fluid fixContainer">
		<div class="row merge">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<h5 class="header-artikel">Article & News</h5>
					<div class="myBorder">
						<div class="padBorder">

							<div class="paragraf">
									<p class="paragraf"> 5 Reason to Invest in Stratup
										<a href="https://blog.kioson.com/digital-payment-masa-depan-cashless-society.html" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> Connect with Kioson Linkedin
										<a href="https://blog.kioson.com/kioson-go-public-menuju-ekonomi-digital-terbesar-di-asia-tenggara-2020.html" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> Kioson at RISE Hongkong
										<a href="https://blog.kioson.com/5-alasan-berinvestasi-di-startup.html" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> Kioson builds micro, small and medium enterprises
										<a href="https://blog.kioson.com/ingin-startup-anda-dilirik-investor-lakukan-6-trik-berikut.html" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> Changing the new face of Digital Economy
										<a href="https://blog.kioson.com/kioson-startup-go-public-pertama-di-indonesia.html" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> Kioson & Danamas for Micro Entrepreneur
										<a href="https://blog.kioson.com/kantor-baru-kioson-tingkatkan-produktivitas-karyawan.html" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> Fund transfer to everywhere
										<a href="https://blog.kioson.com/tips-hidup-sehat-dan-panjang-umur.html" class="baca">Read</a>
									</p>
							</div>

						</div>
					</div>
				<h6> <a href="https://www.kioson.com/" class="footer-artikel"> Read More &nbsp;> </a></h6>
			</div>

			<div class="col-lg-6 col-sm-12 col-md-12">
				<h5 class="header-artikel">Media & Press</h5>
					<div class="myBorder">
						<div class="padBorder">

							<div class="paragraf">
									<p class="paragraf"> 4th Quarter Kioson Financial Report
										<a href="http://katadata.co.id/berita/2017/09/11/setelah-kioson-e-commerce-m-cash-bersiap-melantai-di-bursa" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> 4th Quarter Kioson Financial Report
										<a href="https://lnkd.in/fk3vbAS" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> 4th Quarter Kioson Financial Report
										<a href="https://lnkd.in/f_bDKK7" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> 4th Quarter Kioson Financial Report
										<a href="https://lnkd.in/fefXydb" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> 4th Quarter Kioson Financial Report
										<a href="https://lnkd.in/fJt4eeW" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> 4th Quarter Kioson Financial Report
										<a href="https://lnkd.in/fv7hmjh" class="baca">Read</a>
									</p>
								<hr>
							</div>
							<div class="paragraf">
									<p class="paragraf"> 4th Quarter Kioson Financial Report
										<a href="https://swa.co.id/swa/capital-market/kioson-startup-pertama-yang-melantai-di-bei" class="baca">Read</a>
									</p>
							</div>

						</div>
					</div>
				<h6><a href="https://www.kioson.com/" class="footer-artikel">  Read More &nbsp;> </a> </h6>
			</div>
		</div>
	</div>
</div>
