<div class="section margin-naik">
  <div class="container">
      <div class="medpar col-md-10 col-md-offset-1">
            <!-- Diliputi Oleh Televisi Logo     -->

            <div class="section-title">
              <p>Telah diliput oleh Televisi</p>
          </div>

          <div class="clients-logo-wrapper text-center row">
              <div class="Televisi-logo">
                  <div class="  col-md-3">
                      <a href="#"><img id="MetroTv" src="../../assets/img/MetroTv.png" alt="Client Name"></a>
                  </div>
                  <div class="col-md-3">
                      <a href="#"><img id="Liputan6" src="../../assets/img/Liputan6.png" alt="Client Name"></a>
                  </div>
                  <div class="col-md-3">
                      <a href="#"><img id="BeritaSatu" src="../../assets/img/BeritaSatu.png" alt="Client Name"></a>
                  </div>
                  <div class="col-md-3">
                      <a href="#"><img id="BisnisTv" src="../../assets/img/BisnisTv.png" alt="Client Name"></a>
                  </div>
              </div>
          </div>
          <br/>
          <br/>

          <!--Media Cetak Logo -->


          <div class="section-title" style="margin-top:23px;">
              <p>Media Cetak</p>
          </div>
          <div class="clients-logo-wrapper text-center row">
              <div class="container-fluid">
                  <div class="row logo">

                      <table border="0px">
                          <tr>
                              <td width="22.5%">
                                  <img id="BisnisIndonesia" src="../../assets/img/BisnisIndonesia.png" alt="MediaCetak">
                              </td>
                              <td width="22.5%">
                                  <img id="Techinasia" src="../../assets/img/Techinasia.png" alt="MediaCetak">
                              </td>
                              <td width="10%">
                                  <img id="SWA" src="../../assets/img/SWA.png" alt="MediaCetak">
                              </td>
                              <td width="22.5%">
                                  <img id="Kompas" src="../../assets/img/Kompas.png" alt="MediaCetak">
                              </td>
                              <td width="22.5%">
                                  <img id="InvestorDaily" src="../../assets/img/InvestorDaily.png" alt="MediaCetak">
                              </td>
                          </tr>
                      </table>
                      <br/>
                      <div class="medpar">
                          <div class="col-md-3" margin="90px">
                              <img id="KoranTempo" src="../../assets/img/KoranTempo.png" alt="MediaCetak">
                          </div>
                          <div class="col-md-3  ">
                              <img id="JakartaPost" src="../../assets/img/JakartaPost.png" alt="MediaCetak">
                          </div>
                          <div class="col-md-3  ">
                              <img id="Republika" src="../../assets/img/Republika.png" alt="MediaCetak">
                          </div>
                          <div class="col-md-3  ">
                              <img id="Indopos" src="../../assets/img/Indopos.png" alt="MediaCetak">
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Media Online logo -->


          <br/>
          <div style="margin-top:70px" class="section-title">
              <p style="text-align:center">Media Online</p>
          </div>
          <div class="clients-logo-wrapper text-center row">
              <div class="container-fluid">
                  <div class="row logo">
                      <div class="col-md-2 ">
                          <img id="Bisniscom" src="../../assets/img/Bisnis-com.png" alt="MediaCetak">
                      </div>
                      <div class="col-md-2 ">
                          <img id="Detikcom" src="../../assets/img/Detikcom.png" alt="MediaCetak">
                      </div>
                      <div class="col-md-2  ">
                          <img id="Kontan" src="../../assets/img/Kontan.png" alt="MediaCetak">
                      </div>
                      <div class="col-md-2  ">
                          <img id="Okezone" src="../../assets/img/Okezone.png" alt="MediaCetak">
                      </div>
                      <div class="col-md-2  ">
                          <img id="Kumparan" src="../../assets/img/kumparan.png" alt="MediaCetak">
                      </div>
                      <div class="col-md-2 ">
                          <img id="Industry" src="../../assets/img/Industry.png" alt="MediaCetak">
                      </div>
                      <br/>
                      <br/>

                      <!-- Media Online logo#2 -->
                      <div class="MediaOnline">
                          <div class="col-md-2 col-md-offset-1">
                              <img id="bareksa" src="../../assets/img/bareksa.png" alt="MediaOnline">
                          </div>
                          <div class="col-md-2  ">
                              <img id="CnnIndonesia" src="../../assets/img/CnnIndonesia.png" alt="MediaOnline">
                          </div>
                          <div class="col-md-2  ">
                              <img id="infobanknews" src="../../assets/img/infobanknews.png" alt="MediaOnline">
                          </div>
                          <div class="col-md-2  ">
                              <img id="pasardana" src="../../assets/img/pasarDana.png" alt="MediaOnline">
                          </div>
                          <div class="col-md-2  ">
                              <img id="WartaEkonomi" src="../../assets/img/WartaEkonomi.png" alt="MediaOnline">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
