<div class="section">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
             <!-- Diliputi Oleh Televisi Logo     -->
             
            <div class="section-title">
                <p>Telah diliput oleh Televisi</p>
            </div>

            <div class="clients-logo-wrapper text-center row">
                <div class="Televisi-logo">
                    <div class="  col-md-3">
                        <a href="#"><img src="../../assets/img/MetroTv.png" alt="Client Name"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="../../assets/img/Liputan6.PNG" alt="Client Name"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="../../assets/img/BeritaSatu.PNG" alt="Client Name"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img src="../../assets/img/BisnisTv.PNG" alt="Client Name"></a>
                    </div>
                </div>

                <br/>
                <br/>

                <!--Media Cetak Logo -->


                 <div class="section-media" style="margin-top:83px;">
                    <p>Media Cetak</p>
                </div>
                <div class="container-fluid">
                    <div class="row logo">
                      
                        <table border="0px">
                            <tr>
                                <td width="22.5%">
                                    <img src="../../assets/img/BisnisIndonesia.PNG" alt="MediaCetak">
                                </td>
                                <td width="22.5%">
                                    <img src="../../assets/img/Techinasia.PNG" alt="MediaCetak">
                                </td>
                                <td width="10%">
                                    <img src="../../assets/img/SWA.PNG" alt="MediaCetak">
                                </td>
                                <td width="22.5%">
                                    <img src="../../assets/img/Kompas.PNG" alt="MediaCetak">
                                </td>
                                <td width="22.5%">
                                    <img src="../../assets/img/InvestorDaily.PNG" alt="MediaCetak">
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <div class="col-md-3" margin="90px">
                            <img id="KoranTempo" src="../../assets/img/KoranTempo.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-3  ">
                            <img id="JakartaPost" src="../../assets/img/JakartaPost.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-3  ">
                            <img id="Republika" src="../../assets/img/Republika.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-3  ">
                            <img id="Indopos" src="../../assets/img/Indopos.PNG" alt="MediaCetak">
                        </div>

                    </div>
                </div> 

                <!-- Media Online logo -->


                <br/>
                <div style="margin-top:70px" class="section-media">
                    <p style="text-align:center">Media Online</p>
                </div>
                <div class="container-fluid">
                    <div class="row logo">
                        <div class="col-md-2 ">
                            <img src="../../assets/img/Bisnis-com.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2 ">
                            <img src="../../assets/img/Detikcom.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2  ">
                            <img src="../../assets/img/Kontan.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2  ">
                            <img src="../../assets/img/Okezone.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2  ">
                            <img src="../../assets/img/Kumparan.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2 ">
                            <img src="../../assets/img/Industry.PNG" alt="MediaCetak">
                        </div>
                        <br/>
                        <br/>

                        <!-- Media Online logo#2 -->

                        <div class="col-md-2 col-md-offset-1">
                            <img src="../../assets/img/bareksa.PNG" alt="MediaOnline">
                        </div>
                        <div class="col-md-2  ">
                            <img src="../../assets/img/CnnIndonesia.PNG" alt="MediaOnline">
                        </div>
                        <div class="col-md-2  ">
                            <img src="../../assets/img/infobanknews.PNG" alt="MediaOnline">
                        </div>
                        <div class="col-md-2  ">
                            <img id="pasardana" src="../../assets/img/pasarDana.PNG" alt="MediaOnline">
                        </div>
                        <div class="col-md-2  ">
                            <img src="../../assets/img/WartaEkonomi.PNG" alt="MediaOnline">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Of Media Logo -->

<!-- Footer -->
<div class="footer">
    <div class="container">

        <div style="margin-top:10px;" class="row">

            <div class="col-footer col-md-4" style="font-size:10px; padding-top:20px;">
                <h3 border="0px">PT KIOSON KOMERSIAL INDONESIA</h3>
                <div class="contact-kantor">
                    <b>Kantor Pusat</b> <br/>
                    <p>AXA Tower Kuningan City Lantai 42<br/> Jl. Prof. Dr Satria Kavling<br/> Karet Kuningan, Jakarta Selatan<br/> DKI Jakarta -12490<br/> Telp: 021-12345678<br/> Fax: 021-12345678<br/> Email: info@kioson.com<br/>
                    </p>
                    <br/>

                    <p>Jam Operasional Kantor: 09.00-16.00 WIB<br/> Jam Operasional CS:08.00-22.00 WIB</p>

                </div> 
            </div>


            <!-- Footer Menu -->

            <div class="footer-menu">
                <div class="col-footer  col-md-4" style="margin-top:20px;">
                    <ul>
                        <li><a href="">BERANDA</a></li><br/>
                        <li><a href="">TENTANG KIOSON</a></li>
                        <br/>
                        <li><a href="">BISNIS</a></li>
                        <br/>
                        <li><a href="">JADI AGEN</a></li>
                        <br/>
                        <li><a href="">KARIR</a></li>
                        <br/>
                        <li><a href="">BLOG</a></li>
                        <br/>
                        <li><a href="">HUBUNGI KIOSON</a></li>
                        <br/>
                    </ul>
                </div>
            </div>

            <!-- Footer Google play -->
            <div class="col-footer  col-md-4" style="margin-top:15px;">
                <img src="../../assets/img/googlebadges.PNG"><br/>

                <p>Segera Download Kioson<br/> dan Nikmati Berbagai Kemudahannya</p><br/>
                <br/>



                <div class="form-group">

                    <div id='form-email' style='width:100%;'>
                        <input type='email' id="email" placeholder="Ketikan Emailmu..">
                        <button type="submit" class="btn btn-dark btn-lg sharp">Submit</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>