<div class="section">
    <div class="container">
        <div class="medpar col-md-10 col-md-offset-1">
            <!-- Diliputi Oleh Televisi Logo     -->

            <div class="section-title">
                <p>Telah diliput oleh Televisi</p>
            </div>

            <div class="clients-logo-wrapper text-center row">
                <div class="Televisi-logo">
                    <div class="  col-md-3">
                        <a href="#"><img id="MetroTv" src="../../assets/img/MetroTv.png" alt="Client Name"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img id="Liputan6" src="../../assets/img/Liputan6.PNG" alt="Client Name"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img id="BeritaSatu" src="../../assets/img/BeritaSatu.PNG" alt="Client Name"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><img id="BisnisTv" src="../../assets/img/BisnisTv.PNG" alt="Client Name"></a>
                    </div>
                </div>
            </div>
            <br/>
            <br/>

            <!--Media Cetak Logo -->


            <div class="section-title" style="margin-top:23px;">
                <p>Media Cetak</p>
            </div>
            <div class="clients-logo-wrapper text-center row">
                <div class="container-fluid">
                    <div class="row logo">

                        <table border="0px">
                            <tr>
                                <td width="22.5%">
                                    <img id="BisnisIndonesia" src="../../assets/img/BisnisIndonesia.PNG" alt="MediaCetak">
                                </td>
                                <td width="22.5%">
                                    <img id="Techinasia" src="../../assets/img/Techinasia.PNG" alt="MediaCetak">
                                </td>
                                <td width="10%">
                                    <img id="SWA" src="../../assets/img/SWA.PNG" alt="MediaCetak">
                                </td>
                                <td width="22.5%">
                                    <img id="Kompas" src="../../assets/img/Kompas.PNG" alt="MediaCetak">
                                </td>
                                <td width="22.5%">
                                    <img id="InvestorDaily" src="../../assets/img/InvestorDaily.PNG" alt="MediaCetak">
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <div class="medpar">
                            <div class="col-md-3" margin="90px">
                                <img id="KoranTempo" src="../../assets/img/KoranTempo.PNG" alt="MediaCetak">
                            </div>
                            <div class="col-md-3  ">
                                <img id="JakartaPost" src="../../assets/img/JakartaPost.PNG" alt="MediaCetak">
                            </div>
                            <div class="col-md-3  ">
                                <img id="Republika" src="../../assets/img/Republika.PNG" alt="MediaCetak">
                            </div>
                            <div class="col-md-3  ">
                                <img id="Indopos" src="../../assets/img/Indopos.PNG" alt="MediaCetak">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Media Online logo -->


            <br/>
            <div style="margin-top:70px" class="section-title">
                <p style="text-align:center">Media Online</p>
            </div>
            <div class="clients-logo-wrapper text-center row">
                <div class="container-fluid">
                    <div class="row logo">
                        <div class="col-md-2 ">
                            <img id="Bisniscom" src="../../assets/img/Bisnis-com.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2 ">
                            <img id="Detikcom" src="../../assets/img/Detikcom.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2  ">
                            <img id="Kontan" src="../../assets/img/Kontan.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2  ">
                            <img id="Okezone" src="../../assets/img/Okezone.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2  ">
                            <img id="Kumparan" src="../../assets/img/kumparan.PNG" alt="MediaCetak">
                        </div>
                        <div class="col-md-2 ">
                            <img id="Industry" src="../../assets/img/Industry.PNG" alt="MediaCetak">
                        </div>
                        <br/>
                        <br/>

                        <!-- Media Online logo#2 -->
                        <div class="MediaOnline">
                            <div class="col-md-2 col-md-offset-1">
                                <img id="bareksa" src="../../assets/img/bareksa.PNG" alt="MediaOnline">
                            </div>
                            <div class="col-md-2  ">
                                <img id="CnnIndonesia" src="../../assets/img/CnnIndonesia.PNG" alt="MediaOnline">
                            </div>
                            <div class="col-md-2  ">
                                <img id="infobanknews" src="../../assets/img/infobanknews.PNG" alt="MediaOnline">
                            </div>
                            <div class="col-md-2  ">
                                <img id="pasardana" src="../../assets/img/pasarDana.PNG" alt="MediaOnline">
                            </div>
                            <div class="col-md-2  ">
                                <img id="WartaEkonomi" src="../../assets/img/WartaEkonomi.PNG" alt="MediaOnline">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-address col-6 col-lg-4 " style="font-size:10px; padding-top:20px;">
                <h3 border="0px">PT KIOSON KOMERSIAL INDONESIA</h3>
                <br>
                <div class="contact-kantor" margin-bottom="10px">
                    <b id="kantor">Kantor Pusat</b>
                    <!-- <address margin-bottom="10px"> -->
                    <ul>
                        <li>AXA Tower Kuningan City Lantai 42</li>
                        <li>Jl. Prof. Dr Satria Kavling</li>
                        <li>Karet Kuningan, Jakarta Selatan</li>
                        <li>DKI Jakarta -12490</li>
                        <li>Telp: 021-12345678</li>
                        <li>Fax: 021-12345678</li>
                        <li> Email: info@kioson.com</li>
                    </ul>
                    <!-- </address> -->
                    <br/>

                    <p id="hours">Jam Operasional Kantor: 09.00-16.00 WIB
                        <br> Jam Operasional CS:08.00-22.00 WIB</p>

                </div>
            </div>


            <!-- Footer Menu -->


            <div class="footer-menu col-lg-4 col-6 " style="margin-top:20px;">
                <ul>
                    <li><a href="">BERANDA</a></li>
                    <br>
                    <li><a href="">TENTANG KIOSON</a></li>
                    <br>
                    <li><a href="">BISNIS</a></li>
                    <br>
                    <li><a href="">JADI AGEN</a></li>
                    <br>
                    <li><a href="">KARIR</a></li>
                    <br>
                    <li><a href="">BLOG</a></li>
                    <br>
                    <li><a href="">HUBUNGI KIOSON</a></li>

                    <br>
                </ul>
            </div>


            <!-- Footer Google play -->
            <div class="footer-btn col-lg-4 col-6 " style="margin-top:15px;">
                <a href="https://play.google.com/store/apps/details?id=com.ipay.kioson&hl=en">
                    <img id="badges" src="../../assets/img/googlebadges.PNG">
                </a>
                <br>

                <br>



                <div class="form-group ">

                    <p id="download">Segera Download Kioson<br/> dan Nikmati Berbagai Kemudahannya</p><br/>
                    <div id='form-email' style='width:100%;'>
                        <input type='email' id="email" placeholder="Ketikan Emailmu..">
                        <button type="submit" class="btn btn-dark btn-lg sharp">Submit</button>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>