
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/img/kioson-gopublic.jpg" style="width: 100%;">
        </div>
      </div>
    
      <div class="container">
        
    
        <div class="container-fluid" style="margin-top: -250px;">
    
          
    
    
    <!-- Row Diagram Kepemilikan Saham -->
          <div class="row" style="margin-top: 150px;">
            <div class="col-md-12">
              <div class="row" style="border: 2px solid #d7d7d7; border-radius: 10px  ; background-color: #ffffff">
                <div class="col-md-4">
                  <div class="container-fluid"  style=" padding-top: 125px">
                    <div class="row" style="margin-bottom: 20px">
                      <div class="col-md-12">
                        <div class="col-md-12" style="color: rgb(255, 153, 0);">
                          12,50%
                        </div>
                        <div class="col-md-12">
                          PT. Sinar Mitra Investama
                        </div>
                      </div>	
                    </div>
                    <div class="row" style="margin-bottom: 20px">
                      <div class="col-md-12">
                        <div class="col-md-12" style="color: rgb(255, 153, 0);">
                          12,50%
                        </div>
                        <div class="col-md-12">
                          PT. Seluler Makmur Sejahtera
                        </div>
                      </div>	
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12" style="color: rgb(255, 153, 0);">
                          4,94%
                        </div>
                        <div class="col-md-12">
                          PT. Mitra Komunikasi Nusantara Tbk.
                        </div>
                      </div>	
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12" style="text-align: center; color: rgb(255, 153, 0);padding:50px 0px 20px 0px">
                        Diagram Kepemilikan Saham
                      </div>
                      <div class="col-md-12">
                        <img src="../../assets/img/diagram.png" style="width: 100%">
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col-md-4">
                  <div class="container-fluid" style="padding-top: 125px">
                    <div class="row">
                      <div class="col-md-12" style="color: rgb(255, 153, 0);">
                        70,06%
                      </div>
                      <div class="col-md-12">
                        PT. Artav Mobile Indonesia
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
    <br>
    <br>
    <br>
    
    <!-- Row Pemegang Saham -->
          <div class="row">
            <div class="col-md-12">
              <div class="row" >
                <div class="col-md-3 col-sm-12">
                  <div class="container-fluid" style="border: 3px solid #d7d7d7; border-radius: 10px">
    
                    <div class="row">
                      <div class="col-md-12">
                        <img src="../../assets/img/artav.png" style="width: 100%;  margin-top:35px; margin-bottom:35px;">
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col" style="font-size: 11px; color:rgba(28, 110, 241, 0.99);">
                        Pemegang Saham							
                      </div>
                    </div>
    
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                      <div class="col-md-12" style="font-size: 12px">
                        PT. Artav Mobile Indonesia							
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-12">
                        <canvas id="myCanvas" width="50" height="3" style="background-color : #007bff;"></canvas>
                      </div>
                    </div>
                    <a href="http://www.artav.id/">  
                      <div class="row" style="margin: 30px 0px 30px 0px">
                        <button class="btn btn-default content_6" > <label>Telusuri</label></button>
                      </div>
                    </a>
    
                  </div>				
                </div>
    
                <div class="col-md-3 col-sm-12">
                  <div class="container-fluid" style="border: 3px solid #d7d7d7; border-radius: 10px">
    
                    <div class="row">
                      <div class="col-md-12">
                        <img src="../../assets/img/sinarmas.png" class="img-responsive" style="width: 100%; margin-top:35px; margin-bottom:35px;">
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col" style="font-size: 11px; color:rgba(28, 110, 241, 0.99);">
                        Pemegang Saham							
                      </div>
                    </div>
    
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                      <div class="col-md-12" style="font-size: 12px">
                        PT. Seluler Makmur Sejahtera								
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-12">
                        <canvas id="myCanvas" width="50" height="3" style="background-color : #007bff;"></canvas>
                      </div>
                    </div>
                     
                    <a href="http://www.sinarmas.com/en/">
                      <div class="row" style="margin: 30px 0px 30px 0px">
                        <button class="btn btn-default content_6" > <label>Telusuri</label></button>
                      </div>
                    </a> 
    
                  </div>				
                </div>
    
                <div class="col-md-3 col-sm-12">
                  <div class="container-fluid" style="border: 3px solid #d7d7d7; border-radius: 10px">
    
                    <div class="row">
                      <div class="col-md-12">
                        <img src="../../assets/img/sekuritas.png" style="width: 100%; margin-top:35px; margin-bottom:35px;">
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col" style="font-size: 11px; color:rgba(28, 110, 241, 0.99);">
                        Pemegang Saham							
                      </div>
                    </div>
    
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                      <div class="col-md-12" style="font-size: 12px">
                          PT. Sinar Mitra Investama 			
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-12">
                        <canvas id="myCanvas" width="50" height="3" style="background-color : #007bff;"></canvas>
                      </div>
                    </div>
                    <a href="http://www.sinarmassekuritas.co.id/id/index.asp">                      
                      <div class="row" style="margin: 30px 0px 30px 0px">
                        <button class="btn btn-default content_6" > <label>Telusuri</label></button>
                      </div>
                    </a>
    
                  </div>				
                </div>
    
                <div class="col-md-3 col-sm-12">
                  <div class="container-fluid" style="border: 3px solid #d7d7d7; border-radius: 10px">
    
                    <div class="row">
                      <div class="col-md-12">
                        <img src="../../assets/img/mitra.png" style="width: 100%; margin-top:35px; margin-bottom:35px;">
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col" style="font-size: 11px; color:rgba(28, 110, 241, 0.99);">
                        Pemegang Saham							
                      </div>
                    </div>
    
                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                      <div class="col-md-12" style="font-size: 12px">
                        PT. Mitra Komunikasi Nusantara							
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-md-12">
                        <canvas id="myCanvas" width="50" height="3" style="background-color : #007bff;"></canvas>
                      </div>
                    </div>
                    <a href="http://www.mknt.id/">  
                      <div class="row" style="margin: 30px 0px 30px 0px">
                        <button class="btn btn-default content_6" > <label>Telusuri</label></button>
                      </div>
                    </a>
      
    
                  </div>				
                </div>
    
    
                
    
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
