<div class="section margin-naik">
  <div class="container">
      <div class="medpar col-md-10 col-md-offset-1">
            <!-- Diliputi Oleh Televisi Logo     -->

            <div class="section-title">
              <p>Covered by Television</p>
          </div>

          <div class="clients-logo-wrapper text-center row">
              <div class="Televisi-logo">
                  <div class="  col-md-3">
                      <a href="http://ekonomi.metrotvnews.com/read/2017/09/07/755119/kioson-jadi-startup-pertama-melantai-di-bursa-efek"><img id="MetroTv" src="../../assets/img/MetroTv.png" alt="Client Name"></a>
                  </div>
                  <div class="col-md-3">
                      <a href="http://tekno.liputan6.com/read/2415934/kioson-incar-45000-umkm-di-akhir-2016"><img id="Liputan6" src="../../assets/img/Liputan6.png" alt="Client Name"></a>
                  </div>
                  <div class="col-md-3">
                      <a href="http://www.beritasatu.com/video-berita/451405-kioson-ipo-2307-persen-saham.html"><img id="BeritaSatu" src="../../assets/img/BeritaSatu.png" alt="Client Name"></a>
                  </div>
                  <div class="col-md-3">
                      <a href="#"><img id="BisnisTv" src="../../assets/img/BisnisTv.png" alt="Client Name"></a>
                  </div>
              </div>
          </div>
          <br/>
          <br/>

          <!--Media Cetak Logo -->


          <div class="section-title" style="margin-top:23px;">
              <p>Media Cetak</p>
          </div>
          <div class="clients-logo-wrapper text-center row">
              <div class="container-fluid">
                  <div class="row logo">

                      <table border="0px">
                          <tr>
                              <td width="22.5%">
                                  <img id="BisnisIndonesia" src="../../assets/img/BisnisIndonesia.png" alt="MediaCetak">
                              </td>
                              <a href="https://www.techinasia.com/kioson-investment-mknt">
                              <td width="22.5%">
                                  
                                  <img id="Techinasia" src="../../assets/img/Techinasia.png" alt="MediaCetak">
                              </td>
                            </a>
                              <a href="https://swa.co.id/swa/capital-market/kioson-startup-pertama-yang-melantai-di-bei">
                              <td width="10%">
                        
                                  <img id="SWA" 
                                  src="../../assets/img/SWA.png" alt="MediaCetak">
                              </td>
                            </a>
                              <td width="22.5%">
                                  <a href="https://kompas.id/baca/utama/2017/09/08/tawarkan-saham-kioson-bidik-dana-rp-45-miliar/">
                                  <img id="Kompas" src="../../assets/img/Kompas.png" alt="MediaCetak">
                                </a>
                              </td>
                              <td width="22.5%">
                                  <a href="http://id.beritasatu.com/corporateaction/berencana-ipo-kioson-ramaikan-sektor-e-commerce-di-bei/163664">
                                  <img id="InvestorDaily" src="../../assets/img/InvestorDaily.png" alt="MediaCetak">
                                </a>
                              </td>
                          </tr>
                      </table>
                      <br/>
                      <div class="medpar">
                          <div class="col-md-3" margin="90px">
                              <a href="https://koran.tempo.co/konten/2017/09/08/421371/Kioson-Akan-Akuisisi-Narindo-Komunikasi">
                              <img id="KoranTempo" src="../../assets/img/KoranTempo.png" alt="MediaCetak">
                            </a>
                          </div>
                          <div class="col-md-3  ">
                              <a href="http://www.thejakartapost.com/news/2017/09/08/kioson-be-ri-s-first-startup-go-public.html">
                              <img id="JakartaPost" src="../../assets/img/JakartaPost.png" alt="MediaCetak">
                            </a>
                          </div>
                          <div class="col-md-3  ">
                              <a href="http://www.republika.co.id/berita/ekonomi/korporasi/17/09/07/ovw94l-kioson-jadi-perusahaan-ecommerce-pertama-yang-lakukan-ipo">
                              <img id="Republika" src="../../assets/img/Republika.png" alt="MediaCetak">
                            </a>
                          </div>
                          <div class="col-md-3  ">
                              <a href="http://indobisnis.indopos.co.id/read/2017/09/13/110063/Kioson-Cari-Modal-dengan-Go-Public">
                              <img id="Indopos" src="../../assets/img/Indopos.png" alt="MediaCetak">
                            </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Media Online logo -->


          <br/>
          <div style="margin-top:70px" class="section-title">
              <p style="text-align:center">Online Media</p>
          </div>
          <div class="clients-logo-wrapper text-center row">
              <div class="container-fluid">
                  <div class="row logo">
                      <div class="col-md-2 ">
                        <a href="http://koran.bisnis.com/read/20170908/442/688013/calon-emiten-2018-kioson-targetkan-pendapatan-rp2-triliun-">
                          <img id="Bisniscom" src="../../assets/img/Bisnis-com.png" alt="MediaCetak">
                        </a>
                      </div>
                      <div class="col-md-2 ">
                          <a href="https://news.detik.com/adv-nhl-detikcom/d-3537238/bni-dan-kioson-ekspansi-agen-laku-pandai-di-daerah-pelosok?_ga=2.183982245.2038910639.1506589806-1958853452.1506589806">
                          <img id="Detikcom" src="../../assets/img/Detikcom.png" alt="MediaCetak">
                        </a>
                      </div>
                      <div class="col-md-2  ">
                          <a href="http://investasi.kontan.co.id/news/kioson-mematok-harga-ipo-rp-300-per-saham">
                          <img id="Kontan" src="../../assets/img/Kontan.png" alt="MediaCetak">
                        </a>
                      </div>
                      <div class="col-md-2  ">
                          <a href="https://economy.okezone.com/read/2017/09/27/278/1784017/patok-harga-ipo-rp300-saham-kioson-bakal-raih-rp45-miliar">
                          <img id="Okezone" src="../../assets/img/Okezone.png" alt="MediaCetak">
                        </a>
                      </div>
                      <div class="col-md-2  ">
                          <a href="https://kumparan.com/wiji-nurhayat/melihat-peluang-bisnis-kioson-startup-yang-akan-melantai-di-bursa">
                          <img id="Kumparan" src="../../assets/img/kumparan.png" alt="MediaCetak">
                        </a>
                      </div>
                      <div class="col-md-2 ">
                            <a href="http://www.industry.co.id/read/15599/kioson-start-up-pertama-yang-melantai-di-bei">
                          <img id="Industry" src="../../assets/img/Industry.png" alt="MediaCetak">
                        </a>
                      </div>
                      <br/>
                      <br/>

                      <!-- Media Online logo#2 -->
                      <div class="MediaOnline">
                          <div class="col-md-2 col-md-offset-1">
                              <a href="http://www.bareksa.com/id/text/2017/09/07/miliki-aset-rp-45-miliar-ini-startup-pertama-yang-bakal-ipo-di-bei/16560/analysis">
                              <img id="bareksa" src="../../assets/img/bareksa.png" alt="MediaOnline">
                            </a>
                          </div>
                          <div class="col-md-2  ">
                              <a href="https://www.cnnindonesia.com/ekonomi/20170907152032-78-240130/kioson-jadi-e-commerce-pertama-yang-melantai-di-bursa/">
                              <img id="CnnIndonesia" src="../../assets/img/CnnIndonesia.png" alt="MediaOnline">
                            </a>
                          </div>
                          <div class="col-md-2  ">
                              <a href="http://infobanknews.com/bank-sinarmas-menggandeng-pt-kioson-komersial-indonesia-menjadi-agen-laku-pandai/">
                              <img id="infobanknews" src="../../assets/img/infobanknews.png" alt="MediaOnline">
                            </a>
                          </div>
                          <div class="col-md-2  ">
                              <a href="https://www.pasardana.id/news/2017/7/24/hadiri-pameran-di-hong-kong-startup-kioson-perluas-jangkauan-bisnis/">
                              <img id="pasardana" src="../../assets/img/pasarDana.png" alt="MediaOnline">
                            </a>
                          </div>
                          <div class="col-md-2  ">
                              <a href="https://www.wartaekonomi.co.id/read153716/mknt-siap-serap-ipo-kioson-komersial-indonesia.html">
                              <img id="WartaEkonomi" src="../../assets/img/WartaEkonomi.png" alt="MediaOnline">
                            </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
