<div class="row content_5">
    <div class="col-4 content_5_1 text-center">
          <img src="../../assets/img/tokopedia.png" alt="gambar"  class="img-responsive" style="max-width: 100%;border-radius: 10px 10px 5px 5px;">
          <div style="margin-left: 10%; margin-right: 10%;">
            <table style="color: lightgray">
                <tr>
                    <td><i class="fa fa-user" aria-hidden="true" style="margin-right:10px;"></i></td>
                    <td ><h6 style="margin-top: 10%;">Renny Goeltom</h6></td>

                    <td><i class="fa fa-calendar" aria-hidden="true" style="margin-left:50px; margin-right:10px;"></i></td>
                    <td><h6 style="margin-top: 15%">5 Sept 2017</h6></td>
                </tr>
            </table>
          </div>

          <H2 style="color:black; text-align:left; margin-left: 10%; margin-right: 10%; margin-top:20px;">Makin Untung Belanja Di Tokopedia Dan Bayar Di Kioson!</H2>

          <button class="button btn-orange button-lg" style="margin-top:30px;"> Find Promo > </button>
    </div>
    <div class="col-8">
        <div style="margin-left: 2%;">
            <h1>#BlogKio - Up to Date & Knowledged !</h1>

            <a href="#"> PROMO </a> |
            <a href="#"> TIPS </a> |
            <a href="#"> ARTICLE </a> |
            <a href="#"> NEWS </a>
        </div>


        <div class="row content_5_2">
            <div class="col-8">
                <h2>Kioson to be the first start-up in the stock Exchange</h2>
                <h3>NEWS</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Read</button>
            </div>

            <div class="col-12"> <hr> </div>

            <div class="col-8">
                <h2>Comes with Capital Business Loan</h2>
                <h3>ARTICLE</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Read</button>
            </div>

            <div class="col-12"> <hr> </div>

            <div class="col-8">
                <h2>Kioson's New Office Encourage Productivity!</h2>
                <h3>ARTICLE</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Read</button>
            </div>

            <div class="col-12"> <hr> </div>

            <div class="col-8">
                <h2>Pleasurable Kioson's New Application Interface</h2>
                <h3>ARTICLE</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Read</button>
            </div>

            <div class="col-12"> <hr> </div>
        </div>
    </div>
</div>
