<div class=" bussiness">
  <div class="bs-padding">
    <h2 style="text-align:center">Bisnis Usaha dan Layanan PT Kioson Komersial Indonesia Tbk</h2>
    <div class="row justify-content-md-center content-padding">
      <div class="col-sm">
        <img src="../../assets/img/mobile-phone-2.png" alt="bill" weight="30px" height="30px"><br><br>
        <h4>Bill Payment</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Tagihan dan Iuran, seperti tagihan</p>
        <p>PLN, PDAM, internet, telepon</p>
        <p>Handphone, BPJS, asuransi & lain-lain</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/popcorn.png" alt="bill" weight="30px" height="30px"><br><br>
        <h4>E-Commerce</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Pembelian produk secara online,</p>
        <p>seperti gadget, elektronik,</p>
        <p>fashion, dan lain-lain</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/ticket.png"
          alt="bill" weight="30px" height="30px"><br><br>
        <h4>Electronik Transaction</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Pembelian berbagai keperluan,</p>
        <p>Seperti isi pulsa, paket data</p>
        <p>internet, token listrik, kereta api.</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/id-card-2.png" alt="bill" weight="30px" height="30px"><br><br>
        <h4>Agency</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Menjadikan seluruh mitra</p>
        <p>menjadi agen layanan keuangan</p>
        <p>seperti laku pandai, asuransi</p>
      </div>

    </div>
    <hr>



    <div class="row content_5">
        <div class="col-4 content_5_1 text-center">
          <img src="../../assets/img/penjagakios.png" alt="" width="100%" class="img-responsive">
          <p class="text-left paddingkios" >Kioson Bertujuan untuk embangun jaringan Electronic retailer (E-tailer) terbesar di Indonesia</p>
          <button class="button btn-orange button-lg"> Lihat Proyeksi Usaha </button>
        </div>
        <div class="col-8">
          <h1>Pengumuman Bagi Investor</h1>

          <div class="row content_5_2">
            <div class="col-8">
              <h2>Era Baru e-Commerce di Pasar Modal?</h2>
              <h3>Tanggal : 15 September 2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="https://fakta.news/berita/era-baru-e-commerce-di-pasar-modal"> Baca </a> </button>
            </div>

            <div class="col-12">
              <hr> </div>

            <div class="col-8">
              <h2>Ini Startup Pertama yang Dimiliki Publik:</h2>
              <h3>Tanggal : 15 September 2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="http://indobisnis.indopos.co.id/read/2017/09/11/109913/Ini-Startup-Pertama-yang-Dimiliki-Publik"> Baca </a> </button>
            </div>

            <div class="col-12">
              <hr> </div>

            <div class="col-8">
              <h2>Kioson Becomes the First E-Commerce Player Listing in IDX</h2>
              <h3>Tanggal : 15 September 2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="http://theinsiderstories.com/kioson-becomes-the-first-e-commerce-player-listing-in-idx/"> Baca </a> </button>
            </div>

            <div class="col-12">
              <hr>  </div>

            <div class="col-8">
              <h2>Strategi Kioson Usai Catat Saham di BEI:</h2>
              <h3>Tanggal : 15 September 2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="http://ekonomi.metrotvnews.com/bursa/1bV6nL7b-strategi-kioson-usai-catat-saham-di-bei"> Baca </a> </button>
            </div>

          </div>
            <div class="selengkapnya text-right">
              <a href="#"><h2>Selengkapnya ></h2></a>
          </div>
        </div>

      </div>

  </div>

  <hr style="margin-bottom:0px">
</div>
