<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<div class="container-fluid">
        <!--
        *************
        * Header
        *************
        Header contains menus, play store download pages, and change language
        -->
        <app-header></app-header>
        
        
        <!--
        *************
        * Router
        *************
        Page Home (Default) dan Investor.
        -->
        
        <router-outlet></router-outlet>
        
        
        <!--
        
        *************
        * Footer
        *************
        Footer contains media and company address, menus, download
        -->
        <app-footer></app-footer>
        
        </div>
</body>
</html>


