a,h4
{
color: white!important;
}
div#navbarNavDropdown{
    padding-left: 13%;
}

.navbar-brand
{
border: 2px solid white;
border-radius: 20px;
padding: 1%;
}
.show{
    background-color: rgb(4, 113, 201);
}


.dropdown-item:hover
{
background-color: rgb(68, 174, 251);
}
.dropdown
{
position: static;
}
.whiteline
{
border-bottom: 1px solid white;
margin-bottom: 5%;
left: 10%;
}
.dropdown-menu
{
width: 100%;
background-color: rgb(68, 174, 251);
margin-top: 0px;
}
.navbarinvestor
{
background-color: rgb(0, 95, 164) !important;
}
