<div class="container-fluid">
  
      <div class="row">
        <div class="col-md-12">
            <img src="../assets/img/karir-top.png" style="width: 100%;">
        </div>
      </div>
  
    <div class="container">
  
  
      <div class="container-fluid" style="margin-top: -220px;">
  
          <!-- Judul -->
          <div class="row">
            <div class="col-md-12">
              <h2 class="tagLineBold">Let's grow Kioson</h2>
            </div>
            <div class="col-md-12">
              <h2 class="tagLine">
                <label style="border:1px solid white; padding: 10px 70px 10px 70px; border-radius: 20px ">#Career</label>
              </h2>
            </div>
            <br><br><br><br><br><br>
          </div>
  
  
  <!-- Row Lingkungan kerja -->
        <div class="row" >
          <div class="col-md-12">
            <div class="row" style="border: 2px solid #d7d7d7; border-radius: 10px  ; background-color: #ffffff">
              <div class="container-fluid" style="padding: 50px">
              <p style="text-align: center; font-size: 18px"> Provide a pleasant and conducive working environment, ensuring every individual gets similar opportunity to </p> 
              <p style="text-align: center; font-size: 18px">grow and enhance their own potential.</p>    
              </div>
            </div>
          </div>
        </div>
  <br>
  <br>
  <br>
  
  <!-- Row Supportive and Continuous -->
        <div class="row">
          <div class="col-md-12">
            <div class="row" >
              <div class="col-md-6 col-sm-12">
                <div class="container-fluid" style="border: 3px solid #d7d7d7; border-radius: 10px; padding-left: 50px">
  
                  <div class="row" style="padding-top: 20px">
                    <div class="col-md-6" style="font-size: 11px">
                      <img src="../assets/img/karir-people-icon.png" height="40px" style="margin-top:40px; margin-bottom:40px">           
                    </div>
                  </div>
  
                  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="col-md-12" style="font-size: 12px; color: grey">
                      <h3>Supportive Environtment</h3>           
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-12">
                      <canvas id="myCanvas" width="50" height="3" style="background-color : #007bff;"></canvas>
                    </div>
                  </div>
  
                  <div class="row" style="margin: 30px 0px 30px 0px; font-size: 16px">
                   <p>Working environment in KIOSON is creted to be fresh</p>
                   <p>and friendly. The leaders aslo will actively guide, suport</p>
                   <p>and appreciate every their team ideas. We believe that</p>
                   <p>every human have uniqueness and insightful idea </p>
                  </div>
  
                </div>        
              </div>
  
  
              <div class="col-md-6 col-sm-12">
                <div class="container-fluid" style="border: 3px solid #d7d7d7; border-radius: 10px; padding-left: 50px">
  
                  <div class="row" style="padding-top: 20px">
                    <div class="col-md-6" style="font-size: 11px">
                      <img src="../assets/img/karir-unlimited-icon.png" height="40px" style="margin-top:40px; margin-bottom:40px">           
                    </div>
                  </div>
  
                  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="col-md-12" style="font-size: 12px; color: grey">
                      <h3>Continuous Improvement</h3>           
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-12">
                      <canvas id="myCanvas" width="50" height="3" style="background-color : #007bff;"></canvas>
                    </div>
                  </div>
  
                  <div class="row" style="margin: 30px 0px 30px 0px; font-size: 16px">
                    <p>Optimizing the potential of each employee is one of</p>
                    <p>essential element for Kioson. As the first e-commerce</p>
                    <p>startup that go public, Kioson always try to find and</p>
                    <p>nurture good talent</p>
                  </div>
  
                </div>        
              </div>
  
            </div>
          </div>
        </div>
  
  
  
        <!-- Image And Tentang Kioson -->
        <div class="row" style="margin-top: 100px">
          <div class="col-md-12">
            <div class="row" >
             
              <div class="col-md-6 col-sm-12">
                <div class="container-fluid" style="">
                  <div class="row">
                    <div class="col-md-12">
                      <img src="../assets/img/karir-bulat.png" height="570" width="500">           
                    </div>
                  </div>      
                </div>        
              </div>
  
  
              <div class="col-md-6 col-sm-12">
                <div class="container-fluid" style="padding-left: 50px; padding-top: 100px">
  
                  <div class="row" style="padding-top: 20px">
                    <div class="col-md-6" style="font-size: 18px">
                      <a href="">About Kioson</a>          
                    </div>
                  </div>
  
                  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="col-md-12" style="font-size: 12px; color: grey">
                      <h3>Be the chosen one</h3>           
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-12">
                      <canvas id="myCanvas" width="50" height="3" style="background-color : #007bff;"></canvas>
                    </div>
                  </div>
  
                  <div class="row" style="margin: 30px 0px 73px 0px; font-size: 18px; color: grey">
                    <p>Kioson is looking for best talent to build good future for Indonesia </p>
                    <p>Enable everyone in Indonesia to go online!</p>
                  </div>
  
                </div>        
              </div>
  
            </div>
          </div>
        </div>
  
  <!-- hr And Lowongan -->
      <div style="margin-top: 100px">
        <hr style="border-width: 3px">
        <div class="card col-8 center" style="border-radius: 5px 5px 100px 100px; background-color: orange; color: white; margin-top: -1.5%">
            <h3 class="center" style="margin-top: 30px;margin-bottom: 30px; text-align: center">Join with Kioson</h3>    
        </div>  
      </div>  
  
  
  <!-- Lowongan Yang Ada -->
        <div class="row" >
          <div class="col-md-12">
            <div class="row" style="border: 1px solid #d7d7d7; border-radius: 10px; background-color: #ffffff; margin-top: 100px">
              <div class="container-fluid" style="padding: 50px">
              <h4 style="text-align: center"> No vancancies</h4>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>