<div class="row content_5">
    <div class="col-4 content_5_1 text-center">
          <img src="../../assets/img/tokopedia.png" alt="gambar"  class="img-responsive" width="360" style="border-radius: 10px 10px 5px 5px;">
          <div style="margin-left: 10%; margin-right: 10%;">
            <table style="color: lightgray">
                <tr>
                    <td><i class="fa fa-user" aria-hidden="true"></i></td>
                    <td ><h6 style="margin-top: 10%;">Renny Goeltom</h6></td>
                        
                    <td><i class="fa fa-calendar" aria-hidden="true" style="margin-left:50px;"></i></td>
                    <td><h6 style="margin-top: 15%">5 Sept 2017</h6></td>
                </tr>
            </table>
          </div>
          
          <H1 style="color:black; text-align:left; margin-left: 10%; margin-right: 10%;">Makin Untung Belanja Di Tokopedia Dan Bayar Di Kioson</H1>
          
          <button class="button btn-orange button-lg" > Cari Promo > </button> 
    </div>
    <div class="col-8">
        <div style="margin-left: 2%;">
            <h1>#BlogKio - Paling Update dan Berwawasan !</h1>
    
            <a href="#"> PROMO </a> | 
            <a href="#"> TIPS </a> | 
            <a href="#"> ARTIKEL </a> | 
            <a href="#"> NEWS </a>
        </div>
        

        <div class="row content_5_2">
            <div class="col-8"> 
                <h2>Kioson Jadi Startup Pertama di Bursa Efek</h2>
                <h3>NEWS</h3>
            </div> 
            <div class="col-4"> 
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>  

            <div class="col-12"> <hr> </div>  
            
            <div class="col-8">
                <h2>Hadir Dengan Fitur Pinjaman Modal Usaha</h2>
                <h3>ARTIKEL</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>
            
            <div class="col-12"> <hr> </div>

            <div class="col-8">
                <h2>Kantor Baru Kioson Pacu Produktivitas!</h2>
                <h3>ARTIKEL</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>

            <div class="col-12"> <hr> </div>
            
            <div class="col-8">
                <h2>Tampilan Aplikasi Kioson Baru, Lebih Nyaman</h2>
                <h3>ARTIKEL</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>  

            <div class="col-12"> <hr> </div>
        </div>
    </div>
</div>