<div class="row content_5">
    <div class="col-4 content_5_1 text-center">
          <img src="../../assets/img/kioson1.png" alt=""  class="img-responsive">
          <button class="button btn-orange button-lg"> Cari Promo > </button> 
    </div>
    <div class="col-8">
        <h1>#BlogKio - Paling Update dan Berwawasan !</h1>

        <a href="#"> PROMO </a> | 
        <a href="#"> TIPS </a> | 
        <a href="#"> ARTIKEL </a> | 
        <a href="#"> NEWS </a>

        <div class="row content_5_2">
            <div class="col-8"> 
                <h2>Kioson Jadi Startup Pertama di Bursa Efek</h2>
                <h3>NEWS</h3>
            </div> 
            <div class="col-4"> 
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>  

            <div class="col-12"> <hr> </div>  
            
            <div class="col-8">
                <h2>Hadir Dengan Fitur Pinjaman Modal Usaha</h2>
                <h3>ARTIKEL</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>
            
            <div class="col-12"> <hr> </div>

            <div class="col-8">
                <h2>Kantor Baru Kioson Pacu Produktivitas!</h2>
                <h3>ARTIKEL</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>

            <div class="col-12"> <hr> </div>
            
            <div class="col-8">
                <h2>Tampilan Aplikasi Kioson Baru, Lebih Nyaman</h2>
                <h3>ARTIKEL</h3>
            </div>
            <div class="col-4">
                  <button class="button btn-orange" style="float:right;">Baca</button>
            </div>  

            <div class="col-12"> <hr> </div>
        </div>
    </div>
</div>