<app-navbar-investor></app-navbar-investor>
<div class="container-fluid">
  
  
    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/img/kioson-gopublic.jpg" style="width: 100%;">
        </div>
      </div>
  
  
    <div class="container">
      
  
      <div class="container-fluid" style="margin-top: -470px;">
  
  <!-- Judul -->
        <div class="row">
          <div class="col-md-12">
            <h2 class="tagLineBold">Dewan Direksi</h2>
          </div>
          <div class="col-md-12">
            <h2 class="tagLine">PT. Kioson Komersial Indonesia Tbk.</h2>
          </div>
          <br><br><br><br><br>
        </div>
  
  
  <!-- Row Diagram Kepemilikan Saham -->
        <div class="row" >
          <div class="col-md-12">
            <div class="row borderOutside" >
  
              <div class="col-md-4">
                <div class="container-fluid">
                  <div class="row borderInside">
                    <div class="col-md-12">
                        <img src="../../assets/img/4.png" class="fixImageBorder">
                    </div>
                    <div class="col-md-12 textCenter">
                      <h4>Jasin Halim</h4>
                    </div>
                    <div class="col-md-12 textCenter">
                      <canvas id="myCanvas" width="100" height="3" style="background-color : rgb(255, 153, 0);"></canvas>
                    </div>
                    <div class="col-md-12 textCenter paddingSpace">
                      <h6>Direktur Utama</h6>
                    </div>		
                    <div class="col-md-12 paddingSpace">
                      <button class="btn btn-default content_6" > <label>Telusuri</label></button>
                    </div>	
                  </div>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="container-fluid">
                  <div class="row borderInside" >
                    <div class="col-md-12">
                        <img src="../../assets/img/5.png" style="width: 100%; margin-bottom: -24px;">
                    </div>
                    <div class="col-md-12 textCenter">
                      <h4 style="font-size: 19px">Setiawan Parikesit Kencana</h4>
                    </div>
                    <div class="col-md-12 textCenter">
                      <canvas id="myCanvas" width="100" height="3" style="background-color : rgb(255, 153, 0);"></canvas>
                    </div>
                    <div class="col-md-12 textCenter paddingSpace">
                      <h6>Direktur Keuangan</h6>
                    </div>		
                    <div class="col-md-12 paddingSpace">
                      <button class="btn btn-default content_6" > <label>Telusuri</label></button>
                    </div>	
                  </div>
                </div>
              </div>		
  
              <div class="col-md-4">
                <div class="container-fluid">
                  <div class="row borderInside">
                    <div class="col-md-12">
                        <img src="../../assets/img/6.png" class="fixImageBorder">
                    </div>
                    <div class="col-md-12 textCenter">
                      <h4>Rico Ofna Putra</h4>
                    </div>
                    <div class="col-md-12 textCenter">
                      <canvas id="myCanvas" width="100" height="3" style="background-color : rgb(255, 153, 0);"></canvas>
                    </div>
                    <div class="col-md-12 textCenter paddingSpace">
                      <h6>Direktur Operasional</h6>
                    </div>		
                    <div class="col-md-12 paddingSpace">
                      <button class="btn btn-default content_6" > <label>Telusuri</label></button>
                    </div>	
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
  
  
  
      </div>
    </div>
  </div>
