<div class="body">
    <div style="margin-top: 7%">
        <img style="margin-left: 32%" src="../../assets/img/shape_4.png" alt="" width="2%" height="2%">
        <img style="margin-left: 13%" src="../../assets/img/boy-kissing.png" alt="" width="8%" height="8%">
        <img style="margin-left: 13%; margin-top: -6%" src="../../assets/img/shape_3.png" alt="" width="2%" height="2%">
    </div>

    <p class="waristext1">Saham Kioson segera di Terbitkan</p>
    <p class="waristext2">Tanggal 05 Oktober 2017</p>
    <p class="waristext3">Laporan Pembagian Saham Segera di Lakukan</p>
    <a href="http://ihsg-idx.com/saham/">
        <button class="btn btn-warning buttonwaris" type="button">Bursa Efek Indonesia</button>
    </a>
    <p class="waristext4">Butuh Bantuan? Disini</p>

    <div>
        <img style="margin-left: 26%; margin-top: -39%" src="../../assets/img/shape_1.png" alt="" width="3%" height="3%">
        <img style="margin-left: 44%; margin-top: -32%" src="../../assets/img/shape_2.png" alt="" width="4%" height="4%">
    </div>
</div>