 <div class="billy">
    <img src="../../assets/img/background-orange.jpg" alt="img" width="100%" height="60%" style="position:absolute">
    <div class="container-fluid" style="position:absolute;margin-left:0%;margin-top:7.5%">
        <h3 class="text-center" style="margin-bottom:5%;color:white;font-size:200%">Startup E-Commerce Pertama di Bursa Efek Indonesia</h3> 
        <h5 class="text-center" style="color:white">Jadilah Bagian Dari Perubahan Ekonomi Indonesia</h5>
        <button type="" class="btn btn-primary btn-outline-light" style="padding:13px;border-radius:25px;width:250px;background-color:transparent;display:block;margin-right:auto;margin-left:auto;margin-top:5%;font-size:20px;color:white">Nabung Saham Yuk</button>
        <img src="../../assets/img/shape_1.png" width="5%" height="5%" alt="shape1" style="margin-left:75%;margin-top:-9%">
        <img src="../../assets/img/shape_2.png" width="2%" height="2%" alt="shape2" style="margin-left:30%;margin-top:-8%">
        <img src="../../assets/img/shape_3.png" width="3%" height="3%" alt="shape3" style="margin-left:85%;margin-top:-50%">
        <img src="../../assets/img/shape_4.png" width="2.5%" height="2.5%" alt="shape4" style="margin-left:15%;margin-top:-53%">
    </div>
</div>

<div class="waris">
    <h5>Harga Saham PT Kioson Komersial Indonesia Tbk</h5>
    <h6>Tanggal : 18 September 2017 Pukul : 11.00 AM</h6>

    <table class="table table-bordered border border-dark">
        <thead>
            <tr>
            <th>Index</th>
            <th>Nilai</th>
            <th>Poin</th>
            <th>Persen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            </tr>
        </tbody>
    </table>

    <h6>Telusuri di Bursa Efek Indonesia ></h6>
</div>