<div class="row content_5">
  <div class="col-4 content_5_1 text-center">
        <img src="../../assets/img/kioson2.png" alt="" width="325px" class="img-responsive">
        <button class="button btn-orange button-lg"> Lihat Proyeksi Usaha </button> 
  </div>
  <div class="col-8">
      <h1>Pengumuman Bagi Investor</h1>

      <div class="row content_5_2">
          <div class="col-8"> 
              <h2>Laporan Keuangan Kuarter 4 Kioson</h2>
              <h3>Tanggal : 15 September 2017</h3>
          </div> 
          <div class="col-4"> 
                <button class="button btn-orange" style="float:right;">Baca</button>
          </div>  

          <div class="col-12"> <hr> </div>  
          
          <div class="col-8">
              <h2>Rapat Umum Pertama Pemegang Saham</h2>
              <h3>Tanggal : 15 September 2017</h3>
          </div>
          <div class="col-4">
                <button class="button btn-orange" style="float:right;">Baca</button>
          </div>
          
          <div class="col-12"> <hr> </div>

          <div class="col-8">
              <h2>Saham Kioson Naik %</h2>
              <h3>Tanggal : 15 September 2017</h3>
          </div>
          <div class="col-4">
                <button class="button btn-orange" style="float:right;">Baca</button>
          </div>

          <div class="col-12"> <hr> </div>
          
          <div class="col-8">
              <h2>Selamat Hari Natal dan Tahun Baru</h2>
              <h3>Tanggal : 15 September 2017</h3>
          </div>
          <div class="col-4">
                <button class="button btn-orange" style="float:right;">Baca</button>
          </div>  

          <div class="col-12"> <hr> </div>
      </div>
  </div>
</div>