<div class=" bussiness">
  <div class="bs-padding">
    <h2 style="text-align:center">PT Kioson Komersial Indonesia Tbk Business and Service</h2>
    <div class="row justify-content-md-center content-padding">
      <div class="col-sm">
        <img src="../../assets/img/mobile-phone-2.png" alt="bill" weight="30px" height="30px"><br><br>
        <h4>Bill Payment</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Bill and Payment PLN, PDAM, Internet, </p>
        <p>Telephone, Handphone, BPJS, Insurance,</p>
        <p>etc.</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/popcorn.png" alt="bill" weight="30px" height="30px"><br><br>
        <h4>E-Commerce</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Online buying like gadget, electronics</p>
        <p>fashion, and other</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/ticket.png"
          alt="bill" weight="30px" height="30px"><br><br>
        <h4>Electronik Transaction</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Any other purchase like phone</p>
        <p>credit reload, internet data plans</p>
        <p>electricity token, and train tickets</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/img/id-card-2.png" alt="bill" weight="30px" height="30px"><br><br>
        <h4>Agency</h4>
        <canvas width="50" height="3" style="background-color:#007bff"></canvas><br><br>
        <p>Creates all partner become</p>
        <p>financial serice agents</p>
        <!-- <p>seperti laku pandai, asuransi</p> -->
      </div>

    </div>
    <hr>



    <div class="row content_5">
        <div class="col-4 content_5_1 text-center">
          <img src="../../assets/img/penjagakios.png" alt="" width="100%" class="img-responsive">
          <p class="text-left paddingkios" >Kioson intended to build the biggest Electronic Retailer network in Indonesia</p>
          <button class="button btn-orange button-lg"> Explore Business Projection </button>
        </div>
        <div class="col-8">
          <h1>Announcement to Investors</h1>

          <div class="row content_5_2">
            <div class="col-8">
              <h2>Era Baru e-Commerce di Pasar Modal?</h2>
              <h3>Date : September 15th 2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="https://fakta.news/berita/era-baru-e-commerce-di-pasar-modal"> Read </a> </button>
            </div>

            <div class="col-12">
              <hr> </div>

            <div class="col-8">
              <h2>Ini Startup Pertama yang Dimiliki Publik:</h2>
              <h3>Date : September 15th  2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="http://indobisnis.indopos.co.id/read/2017/09/11/109913/Ini-Startup-Pertama-yang-Dimiliki-Publik"> Read </a> </button>
            </div>

            <div class="col-12">
              <hr> </div>

            <div class="col-8">
              <h2>Kioson Becomes the First E-Commerce Player Listing in IDX</h2>
              <h3>Date : September 15th  2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="http://theinsiderstories.com/kioson-becomes-the-first-e-commerce-player-listing-in-idx/"> Read </a> </button>
            </div>

            <div class="col-12">
              <hr>  </div>

            <div class="col-8">
              <h2>Strategi Kioson Usai Catat Saham di BEI:</h2>
              <h3>Date : September 15th  2017</h3>
            </div>
            <div class="col-4">
              <button class="button btn-orange" style="float:right;"> <a href="http://ekonomi.metrotvnews.com/bursa/1bV6nL7b-strategi-kioson-usai-catat-saham-di-bei"> Read </a> </button>
            </div>

          </div>
            <div class="selengkapnya text-right">
              <a href="#"><h2>Selengkapnya ></h2></a>
          </div>
        </div>

      </div>

  </div>

  <hr style="margin-bottom:0px">
</div>
