    <nav class="navbar navbar-expand-lg navbar-light bg-light navbarinvestor">
        <a class="navbar-brand" href="#">Contact Us</a>
        <button class="navbar-toggler" type="button" data-toggle="" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link  padding-nav" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About Us</a>
                    <div class="row marginrow">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Kioson</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>What is Kioson?</a>
                                    <a class="dropdown-item" href="#">>Vision & Mission</a>
                                    <a class="dropdown-item" href="#">>>Our Story</a>
                                    <a class="dropdown-item" href="#">>Our Activity</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Apps Feature and Services</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Payment</a>
                                    <a class="dropdown-item" href="#">>Shop</a>
                                    <a class="dropdown-item" href="#">>E-Payment</a>
                                    <a class="dropdown-item" href="#">>Agency</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Kioson Partner</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Partner Location</a>
                                    <a class="dropdown-item" href="#">>Testimony</a>
                                    <a class="dropdown-item" href="#">>Our Sales Team</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link padding-nav" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Corporate Social Responsibility</a>
                    <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Activities</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Digital Socialization</a>
                                    <a class="dropdown-item" href="#">>Digital micro, small and medium enterprise program</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Colaboration</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>with the Goverment</a>
                                    <a class="dropdown-item" href="#">>with University</a>
                                    <a class="dropdown-item" href="#">>with other Business</a>
                                    <a class="dropdown-item" href="#">>with the society</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Proposal Submission</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Cooperation</a>
                                    <a class="dropdown-item" href="#">>Business Financing</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Financial Report</a>
                    <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">General Financial Report</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Comprehensive Financial Report 2015</a>
                                    <a class="dropdown-item" href="#">>Comprehensive Financial Report 2016</a>
                                    <a class="dropdown-item" href="#">>Comprehensive Financial Report 2017</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Shareholder Financial Report</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Shareholder Devidend Report I</a>
                                    <a class="dropdown-item" href="#">>Shareholder Devidend Report II</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    News</a>
                    <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Investor News</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Announcement</a>
                                    <a class="dropdown-item" href="#">>Kioson Stock</a>
                                    <a class="dropdown-item" href="#">>Indonesia Stock Exchange</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Press / Media</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Announcement & News</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Article</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Kioson Blog</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Investor Relations</a>
                    <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Ikhtisar Keuangan</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Ikhtisar Saham</a>
                                    <a class="dropdown-item" href="#">>Ikhtisar Keuangan</a>
                                    <a class="dropdown-item" href="#">>Ikhtisar Obligasi</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Laporan</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Laporan Tabungan</a>
                                    <a class="dropdown-item" href="#">>Laporan Keuangan</a>
                                    <a class="dropdown-item" href="#">>Presentasi</a>
                                    <a class="dropdown-item" href="#">>RUPS</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Informasi Umum</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Keterbukaan Informasi</a>
                                    <a class="dropdown-item" href="#">>Deviden</a>
                                    <a class="dropdown-item" href="#">>Pemegang Saham</a>
                                    <a class="dropdown-item" href="#">>Lembaga Penunjang</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



<router-outlet></router-outlet>

<app-bursa-2></app-bursa-2>

<app-stock-price-2></app-stock-price-2>

<app-business-2></app-business-2>


<app-news-media-2></app-news-media-2>

