.waris{
    position: absolute;
    background-color: white;
    border-radius: 20px;
    border:1px solid grey; 
    min-width: 90%; 
    height: 310px;
    padding: 0 80px 0 80px;
    left: 5%;
    top: 90%;
    z-index: 1;
    margin-top: -8%;
}

h5{ 
    text-align: center; 
    margin-top:40px;
    font-size: 17px;
}

h6{
    color:orange; 
    text-align: center; 
    margin-top:25px;
    margin-bottom:30px;
    font-size: 13px;
}

th{
    text-align: center;
    font-weight: normal;
}

td{
    text-align: center;
}

.table thead th {
    border-bottom: 2px solid #000000;
}

.table-bordered td, .table-bordered th {
    border: 2px solid #000000;
}

.billy{
    /* background-image: url("../../assets/img/background-orange.jpg"); */
    min-height: 50%;
}