<div class="container-fluid">
 
  <div class="row">
  <img class="container-fluid" src="../../assets/img/background-orange.jpg" width="100%" height="591.359px" style="position: absolute">
    <div class="col-12 bawah">
      <img src="../../assets//img/shape_2.png" width="2%" height="4%" style="position: absolute; margin-left: 30%; margin-top: 15%; ">
      <img src="../../assets/img/shape_4.png" width="3%" height="7%" style="position: absolute; margin-left: 18%; margin-top: 7%; ">
      <img src="../../assets/img/shape_3.png" width="3%" height="6.8%" style="position: absolute; margin-left: 73%; margin-top: 9%; ">
      <div class="font">
        <div id="Kemitraan">
          <h5 class="jarakheaderatas">Apa kata mereka</h5>
        </div>
        <h2 class="jarakheaderatas">Mitra Sukses Kioson Di Seluruh Indonesia</h2>
        <button type="button" class="kotak jarakheaderatas" style="border-color:#fff; color:#fff;border-radius:20px;">#CeritaSonners</button>
      </div>

      <div class="container jarakheaderatas">
        <form class="form-inline">
          <div class="col-1">
            <img src="../../assets/img/shape_1.png" width="80%" height="8%" style="margin-bottom:-80px; margin-left:-5%;">
          </div>

          <div class="col-3 card " style="border-radius: 30px 30px 5px 5px; margin-bottom: 2%;">
            <div class="jarak kanankiri">"Sekarang makin banyak pelanggan, "Kioson luar biasa". Terima kasih kepada seluruh tim Kioson, semoga kedepannya Kioson makin
            </div>
            <div class="row jarak jarakbawah">
              <div class="col-3">
                <img src="../../assets/img/khoeron.png" style="margin-left:15px;" class="rounded-circle imgbulat" alt="Sample image">
              </div>
              <div class="col-8" style="margin-left:15px;">Khoeron <br>Arul Cell - Jakarta</div>
            </div>
          </div>


          <div class="col-3  card tengah" style="border-radius: 30px 30px 5px 5px; margin-bottom: 2% ">
            <div class="jarak kanankiri" style="height: 120px;">"Terima kasih Kioson, Setelah bergabung Alhamdulillah banyak kemudahan dalam bertransaksi, dan bisa tambah-tambah pemasukan
            </div>
            <div class="row jarak jarakbawah" >
              <div class="col-3">
                <img src="../../assets/img/ismah.png" style="margin-left:15px;" class="rounded-circle imgbulat" alt="Sample image">
              </div>
              <div class="col-8" style="margin-left:15px;">Inne Ismah <br>Suko Cell - Jepara</div>
            </div>
          </div>

          <div class="col-3  card " style="border-radius: 30px 30px 5px 5px; margin-bottom: 2%;">
            <div class="jarak kanankiri">"Meskipun usaha dijalankan di rumah bukan di counter tapi Alhamdulillah transaksi berjalan dan dapat komisi tambahan lumayan lah.
            </div>
            <div class="row jarak jarakbawah">
              <div class="col-3">
                <img src="../../assets/img/maya.png" style="margin-left:15px;" class="rounded-circle imgbulat" alt="Sample image">
              </div>
              <div class="col-8" style="margin-left:15px;">Maya Istiqomah <br>Asri Water - Jawa</div>
            </div>
          </div>
          <div class="col-1">
            <img src="../../assets/img/shape_1.png" width="80%" height="8%" style="margin-bottom:80px; margin-left:40%;">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
