.font{
    color: white;
    text-align: center;

}

.tengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
	border-radius: 3%;
}
.kotak{
    width: 200px;
    height:50px; 
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    background-color: transparent;
}

.kanankiri{
    margin-right: 6%;
    margin-left: 6%;
}

.imgbulat{
    margin-left:40%;
    width:50px;
    height:50px;
}

.jarak{
    margin-top:20%;
}

.jarakheaderatas{
    margin-top:3%;
}

.jarakbawah{
    margin-bottom:20%;
}