<div class="container-fluid" >
                <img class="container-fluid" src="../../assets/img/background-orange.jpg" width="100%" height="74%" style=" position: absolute">
            <div class="row">
                
                <div class="col-12 bawah">
                        <img src="../../assets//img/shape_2.png" width="2%" height="4%" style="position: absolute; margin-left: 30%; margin-top: 15%; ">
                        <img src="../../assets/img/shape_4.png" width="3%" height="6%" style="position: absolute; margin-left: 15%; margin-top: 7%; ">
                        <img src="../../assets/img/shape_3.png" width="3%" height="6.8%" style="position: absolute; margin-left: 73%; margin-top: 9%; ">
                    <div class="font">
                        <h5 class="jarakheaderatas">Apa kata mereka</h5>
                            <h2 class="jarakheaderatas">Mitra Sukses Kioson Di Seluruh Indonesia</h2>
                            <button type="button" class="btn btn-outline-warning btn-lg jarakheaderatas" style="border-color:#fff; color:#fff;border-radius:20px;">#CeritaSonners</button>
                    </div>
                        
                    <div class="container jarakheaderatas">
                        <form class="form-inline" >
                        <div class="col-1">
                            <img src="../../assets/img/shape_2.png" width="80%" height="8%" style="margin-bottom:-80px; margin-left:-5%;">
                        </div>
                        <div class="col-3 card " style="border-radius: 30px 30px 5px 5px">
                        <div class="jarak kanankiri">"Sekarang makin banyak pelanggan, "Kioson luar biasa".
                            Terima kasih kepada seluruh tim Kioson, semoga kedepannya Kioson makin
                        </div>
                        <div class="row jarak jarakbawah">
                        <div class="col-3">
                            <img src="http://www.clker.com/cliparts/M/o/W/d/C/j/about-icon-md.png"
                            class="rounded-circle imgbulat" alt="Sample image">
                        </div>
                        <div class="col-8" style="margin-left:15px;">Khoeron <br>Arul Cell - Jakarta</div>
                        </div>
                        </div>
    
                            
                        <div class="col-3  card tengah" style="border-radius: 30px 30px 5px 5px;">
                        <div class="jarak kanankiri">"Sekarang makin banyak pelanggan, "Kioson luar biasa".
                        Terima kasih kepada seluruh tim Kioson, semoga kedepannya Kioson makin
                        </div>
                        <div class="row jarak jarakbawah">
                        <div class="col-3">
                            <img src="http://www.clker.com/cliparts/M/o/W/d/C/j/about-icon-md.png"
                            class="rounded-circle imgbulat" alt="Sample image">
                        </div>
                        <div class="col-8" style="margin-left:15px;">Inne Ismah <br>Suko Cell - Jepara</div>
                        </div>
                        </div>

                        
                        <div class="col-3  card " style="border-radius: 30px 30px 5px 5px;">
                        <div class="jarak kanankiri">"Sekarang makin banyak pelanggan, "Kioson luar biasa".
                        Terima kasih kepada seluruh tim Kioson, semoga kedepannya Kioson makin
                        </div>
                        <div class="row jarak jarakbawah">
                        <div class="col-3">
                            <img src="http://www.clker.com/cliparts/M/o/W/d/C/j/about-icon-md.png"
                            class="rounded-circle imgbulat" alt="Sample image">
                        </div>
                        <div class="col-8" style="margin-left:15px;">Khoeron <br>Arul Cell - Jakarta</div>
                        </div>
                        </div>
                        <div class="col-1">
                            <img src="../../assets/img/shape_1.png" width="80%" height="8%" style="margin-bottom:80px; margin-left:40%;">
                        </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>