.font{
    color: white;
    text-align: center;

}

.tengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.kanankiri{
    margin-right: 6%;
    margin-left: 6%;
}

.imgbulat{
    margin-left:40%;
    width:50px;
    height:50px;
}

.jarak{
    margin-top:20%;
}

.jarakheaderatas{
    margin-top:3%;
}

.jarakbawah{
    margin-bottom:20%;
}