.content_5{
    background-color:#f3f3f3;
    color: #ff8000;
    padding-top: 10%;
    margin-top: -1.5%;
    
}

.content_5 h1{
    color: #808080;
    font-size: 30px;
}

.content_5 h2{
    color: #808080;
    font-size: 20px;
}

.content_5 h3{
    color: #ff8000;
    font-size: 16px;
}

.content_5 a{
    color: #ff8000;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.content_5_1{
    background-color:#ffffff;
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
}

.content_5_2{
    background-color:#ffffff;
    padding: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    margin-top: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-orange{
    border: 1px solid orange;
    color: orange;
    background-color: white;
}

.button-lg{
    margin-top : 20px;
    font-size: 16px;
}

.row .content_5_2{
    margin: 10px;
}



