/* You can add global styles to this file, and also import other style files */
*{
    font-style: Helvetica;
    outline: 1px solid red;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* @media (min-width: 576px) {
    .container {
      max-width: 720px !important;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 720px !important;
    }
  } */
  
  