<nav class="navbar navbar-expand-lg navbar-light bg-light navbarinvestor">
        <!-- <a class="navbar-brand" href="#">Hubungi Kami</a> -->
        <button class="navbar-toggler" type="button" data-toggle="" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="" id="navbarNavDropdown" style="padding-left: 10%;">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link  padding-nav" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tentang Kioson</a>
                    <div class="row marginrow">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Kioson</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <!-- <a class="dropdown-item" routerLink="/investor/about">>Apa itu Kioson?</a>
                                    <a class="dropdown-item" routerLink="/investor/about" (click)="navigateTo('#visi')">>Visi Misi Kioson</a>
                                    <a class="dropdown-item" routerLink="/investor/about" (click)="navigateTo('#RekamJejak')">>Sejarah dan Rekam Jejak Kioson</a>
                                    <a class="dropdown-item" routerLink="/investor/about" (click)="navigateTo('#KegiatanUsaha')">>Kegiatan Usaha</a> -->
                                    <a class="dropdown-item" routerLink="/investor/about">>Apa itu Kioson?</a>
                                    <a class="dropdown-item" href="/investor/about#visi">>Visi Misi Kioson</a>
                                    <a class="dropdown-item" href="/investor/about#RekamJejak" >>Sejarah dan Rekam Jejak Kioson</a>
                                    <a class="dropdown-item" href="/investor/about#KegiatanUsaha" >>Kegiatan Usaha</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Layanan Fitur Aplikasi</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <!-- <a class="dropdown-item" (click)="navigateTo('#KegiatanUsaha')" routerLink="/investor/about">>Pembayaran</a>
                                    <a class="dropdown-item" (click)="navigateTo('#KegiatanUsaha')" routerLink="/investor/about">>Belanja</a>
                                    <a class="dropdown-item" (click)="navigateTo('#KegiatanUsaha')" routerLink="/investor/about">>Transaksi Elektronik</a>
                                    <a class="dropdown-item" (click)="navigateTo('#KegiatanUsaha')" routerLink="/investor/about">>Keagenan</a> -->
                                    <a class="dropdown-item" href="/investor/about#KegiatanUsaha">>Pembayaran</a>
                                    <a class="dropdown-item" href="/investor/about#KegiatanUsaha">>Belanja</a>
                                    <a class="dropdown-item" href="/investor/about#KegiatanUsaha">>Transaksi Elektronik</a>
                                    <a class="dropdown-item" href="/investor/about#KegiatanUsaha">>Keagenan</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Mitra Kioson</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#lokasi">>Lokasi Mitra</a>
                                    <a class="dropdown-item" href="#Kemitraan">>Testimoni Mitra</a>
                                    <!-- <a class="dropdown-item" href="#">>Tim Sales Kioson</a> -->
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link padding-nav" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Program Tanggung Jawab</a>
                    <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Kegiatan</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Sosialisasi Digital</a>
                                    <a class="dropdown-item" href="#">>Program UMKM Digital</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Kolaborasi</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Bersama Pemerintah</a>
                                    <a class="dropdown-item" href="#">>Bersama Universitas</a>
                                    <a class="dropdown-item" href="#">>Bersama Perusahaan</a>
                                    <a class="dropdown-item" href="#">>Bersama Masyarakat</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Pengajuan Proposal</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Kerjasama</a>
                                    <a class="dropdown-item" href="#">>Pembiayaan Usaha</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Laporan Keuangan</a>
                    <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Laporan Keuangan Umum</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" routerLink="/investor/financial2015">>Laporan Keuangan Menyeluruh</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Laporan Kuangan Pemegang Saham</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" routerLink="/investor/saham">>Laporan Keuangan Pembagian Saham</a>
                                    <!-- <a class="dropdown-item" routerLink="/investor/saham">>Laporan Keuangan Pembagian Saham II</a> -->
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link"  id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" href="https://blog.kioson.com/">
    Berita</a>
                    <!-- <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm ">
                                    <h4 class="dropdown-item">Berita Investor</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Pengumuman</a>
                                    <a class="dropdown-item" href="#">>Saham Kioson</a>
                                    <a class="dropdown-item" href="#">>Bursa Efek Indonesia</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Pers Media</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Pengunguman & Berita</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Artikel</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" href="#">>Blog Kioson</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div> -->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Hubungan Investor</a>
                    <div class="row">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="row">
                                <div class="col-sm"></div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item">Informasi Umum</h4>
                                    <div class="dropdown-item whiteline col-sm-1"></div>
                                    <a class="dropdown-item" routerLink="/investor/pemegangsaham">>Pemegang Saham</a>
                                    <a class="dropdown-item" routerLink="/investor/lembagapenunjang">>Lembaga Penunjang</a>
                                </div>
                                <div class="col-sm">
                                    <h4 class="dropdown-item"> </h4>
                                    <div class="dropdown-item whiteline col-sm-1" style="
                                    border-bottom: 1px solid transparent; margin-top: 2em;"></div>
                                    <a class="dropdown-item" routerLink="/investor/dewankomisaris">>Dewan Komisaris</a>
                                    <a class="dropdown-item" routerLink="/investor/dewandireksi">>Dewan Direksi</a>
                                    <a class="dropdown-item" routerLink="/investor/sekretarisperusahaan">>Sekertaris Perusahaan</a>
                                </div>
                                <div class="col-sm"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>



