<div class="container-fluid">
    <div style="margin-top:20px; margin-bottom:200px;">

    <img src="../../assets/img/Circle.png" alt="img" width="80%" height="100%" style="position:absolute; z-index:-1; left:9.5%">
        
    <div class="text-center" style="padding-top:20px;">
        <h2 style="color:rgb(102, 102, 102); padding-bottom:15px;">Temukan Kios Kioson di Dekat Anda</h2>
        <h4 style="color:orange">Tim Kioson Siap Membantu Anda</h4>
            
    <div style="padding-top:200px">
        <form action="">
            <select name="provinsi" style="width:19%; margin-bottom:15px; margin-right:15px;">
                <option value="" disabled selected>Provinsi</option>
                <option value=""></option>
            </select>
            <select name="kota" style="width:19%; margin-bottom:15px;">
                <option value="" disabled selected>Kota</option>
                <option value=""></option>
            </select>
        </form>
        <form>
            <select name="kecamatan" style="width:19%; margin-right:15px;">
                <option value="" disabled selected>Kecamatan</option>
                <option value=""></option>
            </select>
            <select name="kelurahan" style="width:19%;">
                <option value="" disabled selected>Kelurahan</option>
                <option value=""></option>
            </select>
        </form>
        <button class="btn btn-lg btn-danger" style="width:40%; margin-top:15px;background-color:orange">Cari Mitra Kioson</button>
        </div>
    </div>
    </div>
</div>