<div style="margin-top:-6%; margin-bottom:13%;">
    <img src="../../assets/img/Circle.png" alt="img" width="70%" height="70%" style="position:relative; z-index:-1; left:15%">    
  
    <div style="margin-top:-60%">
        <div class="text-center" style="padding-top:2%;">
            <h2 style="color:rgb(102, 102, 102); padding-bottom:1.5%;">Temukan Kios Kioson di Dekat Anda</h2>
            <h4 style="color:orange">Tim Kioson Siap Membantu Anda</h4>
    
            <div style="padding-top:20%">
                <div class="btn-group col-sm" style="display:block;margin-right:auto;margin-left:auto">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" style="background-color:transparent;color:black;width:20.3%" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Large button
                    </button>
                    <div class="dropdown-menu" style="width:20.1%">
                        ...
                    </div>
                

                    <button class="btn btn-secondary btn-lg dropdown-toggle" style="background-color:transparent;color:black;width:20.3%" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Large button
                    </button>
                    <div class="dropdown-menu" style="width:20.1%">
                    ...
                    </div>
                </div><br>
              
                <div class="btn-group col-sm" style="display:block;margin-right:auto;margin-left:auto">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" style="background-color:transparent;color:black;width:20.3%" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Large button
                    </button>
                    <div class="dropdown-menu" style="width:20.1%">
                        ...
                    </div>
                

                    <button class="btn btn-secondary btn-lg dropdown-toggle" style="background-color:transparent;color:black;width:20.3%" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Large button
                    </button>
                    <div class="dropdown-menu" style="width:20.1%">
                    ...
                    </div>
                </div>    
            </div>   
            <button class="btn btn-lg btn-danger" style="width:40%; margin-top:1.5%;background-color:orange">Cari Mitra Kioson</button>
        </div>
    </div> 
</div>